body {
    font-family: Montserrat;
    background-color: #021013;
}

.bold {
    font-weight: 700;
}

.hr_title_home {
    height: 5px;
    width: 15%;
    margin: 0;
    background-color: #fff
}

.menu-responsive {
    background-color: #020F14;
    padding: 2rem 0
}

.menu-responsive ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-responsive ul li {
    width: 100%;
    padding: 1.5rem 0;
    text-align: center;
}

.menu-responsive ul li a {
    font-size: 1.125rem;
    color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.menu-responsive ul li a:active,
.menu-responsive ul li a:hover {
    color: #fff;
    text-decoration: none;
}

.header__top--responsive ul {
    float: right;
}

.header__top--responsive ul li .menu-bars {
    font-size: 2.4rem;
    color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.header__top--responsive ul li .menu-bars:active,
.header__top--responsive ul li .menu-bars:hover {
    color: #fff
}

header {
    background-image: url(../img/fondoInicio.webp), url(../img/fondo-escala-de-colores.webp);
    background-blend-mode: multiply;
}

.services {
    background-image: url(../img/fondoServicios.webp)
}

.team {
    background-image: url(../img/fondoEquipo.webp)
}

.contactForm {
    background-image: url(../img/fondoDeContacto.webp)
}

.aboutUs,
.contactForm,
.services,
.team,
header {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.container-intro-section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    flex-wrap: wrap;
}

.intro-section-title {
    width: 20%;
    color: #fff;
}

.intro-section-title h2 {
    font-weight: 700;
    font-size: 2.5rem;
}

.vl {
    border-left: 2px solid #fff;
    height: 80px;
}

.intro-section-description {
    width: 60%;
    color: #fff;
    font-size: 1rem;
    margin-left: 2%;
    flex-wrap: wrap;
}

#contact h2,
#id_team h2 {
    font-weight: 700;
    font-size: 2.5rem;
    color: #fff;
    padding: 4rem 0 1.5rem 0;
    text-align: center;
}

.container-contact {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.contact-icon {
    width: 50%;
    text-align: right;
}

.contact-icon img {
    width: 40px;
    margin: 0 20px;
}

.contact-description {
    width: 50%;
    color: #fff;
    font-size: 1rem;
}

#buttonBackToTop {
    display: inline-block;
    background-color: #8CBF44;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#buttonBackToTop::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#buttonBackToTop:hover {
    cursor: pointer;
    background-color: #0D3B59;
}

#buttonBackToTop:active {
    background-color: #020F14;
}

#buttonBackToTop.show {
    opacity: 1;
    visibility: visible;
}

.whatsapp img {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 30px;
    left: 30px;
    border-radius: 30px 30px 30px 0px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

.whatsapp img:hover {
    box-shadow: 0px 0px 15px #fff;
    transition: 0.5s;
}

#id_whatsapp.show {
    opacity: 1;
    visibility: visible;
}

.header__top {
    padding-top: 2.5rem;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.logo-desktop {
    width: 30%;
}

.logo-mobile {
    width: 15%;
    margin: 0 10px;
}

.header__top-nav ul {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__top-nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

.header__top-nav ul li:last-child {
    margin-right: 0;
}

.header__top-nav ul li a {
    font-size: 1.25rem;
    color: #fff;
    line-height: 2.5rem;
    font-weight: 300;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.header__top-nav ul li a:active,
.header__top-nav ul li a:hover {
    color: #ccc;
    text-decoration: none;
}

.header__content h1 {
    width: 80%;
    margin-top: 20%;
    color: #fff;
    font-size: 5rem;
    text-align: left;
}

.header__content h1:first-child {
    line-height: 5rem;
}

.header__arrow {
    margin-top: 10rem;
    text-align: center;
}

.header__arrow a,
.header__arrow a:hover {
    color: #fff;
    font-size: 1.5rem;
}

.header__arrow a i {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
    0%,
    100%,
    20%,
    60% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40%,
    43% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    75% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}

@keyframes bounce {
    0%,
    100%,
    20%,
    60% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40%,
    43% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    75% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}

#id_services img {
    border: 2px solid #232323;
    border-radius: 100%;
    padding: .2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

#id_services p a {
    color: #232323;
    text-decoration: underline;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

#contact p {
    font-size: 1.65rem;
    font-weight: 300;
    margin-top: 10px;
}

#footer {
    padding: .5rem 0;
    background-color: #020F14;
    text-align: center;
    color: #fff;
}

#footer p {
    font-size: .85rem;
}

#footer p a {
    color: #fff;
    text-decoration: underline;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

#footer p a:hover {
    color: #8CBF44;
}

#footer p .fa-heart {
    color: red;
}


/******* MEDIA QUERIES PARA TV *******/

@media screen and (min-width:1920px) {}

@media screen and (min-width:2560px) {}


/******* MEDIA QUERIES PARA COMPUTADORAS *******/

@media screen and (max-width:1440px) {}


/******* MEDIA QUERIES PARA PORTATILES *******/

@media screen and (max-width:1366px) {
    .hr_title_home {
        width: 13%;
    }
}

@media screen and (max-width:1024px) {
    .hr_title_home {
        width: 20%;
    }
    .intro-section-title h2 {
        font-size: 2rem;
    }
    .intro-section-description {
        font-size: 0.9rem;
    }
}


/******* MEDIA QUERIE PARA TABLETS *******/

@media screen and (max-width:768px) {
    .logo-mobile {
        width: 8%;
    }
    .hr_title_home {
        width: 25%;
    }
    .vl {
        height: 70px;
    }
    .intro-section-title h2 {
        font-size: 1.5rem;
    }
    .intro-section-description {
        font-size: 0.8rem;
    }
    .contact-icon {
        width: 30%;
    }
    .contact-description {
        width: 70%;
    }
    .contact-icon img {
        width: 30px;
    }
}


/******* MEDIA QUERIES PARA CELULARES *******/

@media screen and (max-width:425px) {
    .logo-mobile {
        width: 15%;
    }
    .header__content {
        font-size: 4rem;
    }
    .hr_title_home {
        width: 35%;
    }
    .intro-section-title {
        width: 100%;
    }
    .intro-section-description {
        width: 100%;
    }
    .vl {
        display: none;
    }
    .intro-section-title h2 {
        font-weight: 700;
        font-size: 2.5rem;
        color: #fff;
        text-align: center;
    }
    .container-contact {
        width: 100%;
    }
    .contact-icon {
        width: 12%;
    }
    .contact-description {
        width: 88%;
    }
    .contact-icon img {
        margin: 0 5px;
    }
    #contact p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:375px) {
    .header__content {
        font-size: 3.5rem;
    }
    #contact p {
        font-size: 1.4rem;
    }
}

@media screen and (max-width:320px) {
    .header__content {
        font-size: 3rem;
    }
    #contact p {
        font-size: 1.2rem;
    }
    .contact-icon img {
        width: 20px;
    }
}